<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">商标</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" [routerLink]=" ['./test'] " routerLinkActive="active">测试 <span class="sr-only">(current)</span></a></li>
          <li><a href="#" [routerLink]=" ['./business'] " routerLinkActive="active">业务</a></li>
          <li dropdown class="dropdown" (onToggle)="toggled($event)">
            <a href class="dropdown-toggle" id="simple-dropdown" dropdownToggle>菜单 <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
              <li *ngFor="let item of items">
                <a href="#" class="dropdown-item">{{item}}</a>
              </li>

            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
          </div>
          <button type="submit" class="btn btn-default">开始搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">关于我们</a></li>
          <li class="dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" >设置 <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdownMenu>
              <li><a href="#">设置</a></li>
              <li><a href="#">再设置</a></li>
              <li role="separator" class="divider">分割线</li>
              <li><a href="#">链接</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-inner navbar-content-center">
        <p class="text-muted credit text-center" style="padding: 10px;">
          页脚
        </p>
      </div>
    </nav>
  </div>
</div>
